@charset "UTF-8";
/*versão específica para tablets768px a 992px*/
@media (min-width: 768px) and (max-width: 992px){
    body {
        background-image: linear-gradient( to top,#034341,#4CAF50);
    }
    section {
        width:80vw;
     height: 80vh;
    }
    

section >div#formulário {
   width: 50%;
   height: 100%;
  
    float: right;
   
     
}
    section >div#imagem {
        width: 30%;
        height:110%;
        padding: 110px;
        float: left;
    }
}
@media screen and (min-width:992px)and (max-width:1400px){
    body {
        background-image: linear-gradient( to top,#034341,#4CAF50);
    }
    section {
        width:950px;
        height: 350px;
        
    }
    section >div#formulário {
       width: 50%;
      height: 100%;
      
        float: right;
       
         
    }
    div#formulário > h1 {
        font-size: 2em;
    }
    div#formulário >p {
        font-size: 1em;
       
    }
        section >div#imagem {
            width: 50%;
            height:100%;
           padding: 110px;
            float:left;
            
        }
}